@model FoodForm.Models.Comentarios

@{
    ViewData["Title"] = "Escrever Comentário";
}

<h4>Comentarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <input asp-for="Conteudo" class="form-control" />
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Comentar" class="btn btn-primary"/>
                <a class="btn btn-light" asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
