@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bemvindo ao FoodForm!</h1>
    <a class="btn btn-dark" asp-area="" asp-controller="Receitas" asp-action="Index">
        Todas as Receitas
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-dark" asp-area="" asp-controller="Receitas" asp-action="Create">
            Criar uma receita
        </a>
    }

</div>
